body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculatorBody {
    height: 70vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    background-color: darkgray;
    border: solid black;
}

#display {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 42vh;
    height: 9vh;
    border: solid black;
    margin-bottom: 2vh;
    margin-top: 2.5vh;
    
}

#output {
    margin: 5vh 2vh 5vh 2vh;
    display: flex;
    font-size: 4vh;
    font-weight: 900;
}

.calcBody {
    display: flex;
    margin: 2vh;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
    margin-left: .5vh;
    
}

.numbers, .equals, .operator {
    width: 10vh;
    height: 10vh;
    margin: 0.25vh .3vh;
}

.clear {
    width: 42vh;
    height: 7vh;
}

.operator, .numbers, .equals, .clear {
    font-size: 5vh;
    border: solid black;
    box-shadow: 2px 2px 2px black;
}


.operator {
    background-color: #f7ad1977;
}

.numbers {
    background-color: #9fe7f5 ;
}

.equals {
    background-color: #053f5c;
    background-color: #429ebd;
    color: blac;
    
}

.clear {
    background-color: #F27f0C
    ;
}